In [25]:
import numpy as np
import pandas as pd
from scipy import stats

In [6]:
df = pd.read_csv('grades.csv')

df.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2315 entries, 0 to 2314
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              2315 non-null   object
 1   assignment1_grade       2315 non-null   float64
 2   assignment1_submission  2315 non-null   object
 3   assignment2_grade       2315 non-null   float64
 4   assignment2_submission  2315 non-null   object
 5   assignment3_grade       2315 non-null   float64
 6   assignment3_submission  2315 non-null   object
 7   assignment4_grade       2315 non-null   float64
 8   assignment4_submission  2315 non-null   object
 9   assignment5_grade       2315 non-null   float64
 10  assignment5_submission  2315 non-null   object
 11  assignment6_grade       2315 non-null   float64
 12  assignment6_submission  2315 non-null   object
dtypes: float64(6), object(7)
memory usage: 235.2+ KB

In [8]:
df.columns

Index(['student_id', 'assignment1_grade', 'assignment1_submission',
       'assignment2_grade', 'assignment2_submission', 'assignment3_grade',
       'assignment3_submission', 'assignment4_grade', 'assignment4_submission',
       'assignment5_grade', 'assignment5_submission', 'assignment6_grade',
       'assignment6_submission'],
      dtype='object')

In [10]:
print("There are {} rows and {} columns".format(df.shape[0], df.shape[1]))

There are 2315 rows and 13 columns

In [14]:
early_finishers = df[pd.to_datetime(df['assignment1_submission']) < '2016']
early_finishers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1259 entries, 0 to 2314
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              1259 non-null   object
 1   assignment1_grade       1259 non-null   float64
 2   assignment1_submission  1259 non-null   object
 3   assignment2_grade       1259 non-null   float64
 4   assignment2_submission  1259 non-null   object
 5   assignment3_grade       1259 non-null   float64
 6   assignment3_submission  1259 non-null   object
 7   assignment4_grade       1259 non-null   float64
 8   assignment4_submission  1259 non-null   object
 9   assignment5_grade       1259 non-null   float64
 10  assignment5_submission  1259 non-null   object
 11  assignment6_grade       1259 non-null   float64
 12  assignment6_submission  1259 non-null   object
dtypes: float64(6), object(7)
memory usage: 137.7+ KB

In [16]:
late_finishers = df[~df.index.isin(early_finishers.index)]
late_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
6,3217BE3F-E4B0-C3B6-9F64-462456819CE4,87.498744,2016-03-05 11:05:25.408000000,69.998995,2016-03-09 07:29:52.405000000,55.999196,2016-03-16 22:31:24.316000000,50.399276,2016-03-18 07:19:26.032000000,45.359349,2016-03-19 10:35:41.869000000,45.359349,2016-03-23 14:02:00.987000000
7,F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F,80.576090,2016-01-24 18:24:25.619000000,72.518481,2016-01-27 13:37:12.943000000,65.266633,2016-01-30 14:34:36.581000000,65.266633,2016-02-03 22:08:49.002000000,65.266633,2016-02-16 14:22:23.664000000,65.266633,2016-02-18 08:35:04.796000000
9,E2C617C2-4654-622C-AB50-1550C4BE42A0,59.270882,2016-03-06 12:06:26.185000000,59.270882,2016-03-13 02:07:25.289000000,53.343794,2016-03-17 07:30:09.241000000,53.343794,2016-03-20 21:45:56.229000000,42.675035,2016-03-27 15:55:04.414000000,38.407532,2016-03-30 20:33:13.554000000

In [19]:
print(early_finishers['assignment1_grade'].mean())
print(late_finishers['assignment1_grade'].mean())

74.94728457024303
74.0450648477065

In [26]:
from scipy.stats import ttest_ind
ttest_ind(early_finishers['assignment1_grade'], late_finishers['assignment1_grade'])

Ttest_indResult(statistic=1.3223540853721596, pvalue=0.18618101101713855)

In [27]:
print(ttest_ind(early_finishers['assignment1_grade'], late_finishers['assignment1_grade']))
print(ttest_ind(early_finishers['assignment2_grade'], late_finishers['assignment2_grade']))
print(ttest_ind(early_finishers['assignment3_grade'], late_finishers['assignment3_grade']))
print(ttest_ind(early_finishers['assignment4_grade'], late_finishers['assignment4_grade']))
print(ttest_ind(early_finishers['assignment5_grade'], late_finishers['assignment5_grade']))
print(ttest_ind(early_finishers['assignment6_grade'], late_finishers['assignment6_grade']))

Ttest_indResult(statistic=1.3223540853721596, pvalue=0.18618101101713855)
Ttest_indResult(statistic=1.2514717608216366, pvalue=0.2108889627004424)
Ttest_indResult(statistic=1.6133726558705392, pvalue=0.10679998102227865)
Ttest_indResult(statistic=0.049671157386456125, pvalue=0.960388729789337)
Ttest_indResult(statistic=-0.05279315545404755, pvalue=0.9579012739746492)
Ttest_indResult(statistic=-0.11609743352612056, pvalue=0.9075854011989656)

In [29]:
df1 = pd.DataFrame([np.random.random(100) for x in range(100)])
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.437501,0.549607,0.966316,0.431860,0.813011,0.757416,0.398004,0.916542,0.857820,0.304251,...,0.077118,0.069144,0.802100,0.271098,0.691566,0.320070,0.508350,0.449817,0.138791,0.007714
1,0.723507,0.807902,0.575180,0.432969,0.069530,0.309901,0.600393,0.358048,0.665267,0.483261,...,0.537863,0.818536,0.089415,0.833943,0.894389,0.459176,0.213191,0.045725,0.226361,0.485429
2,0.202324,0.262006,0.351036,0.341338,0.530930,0.348080,0.917943,0.531577,0.212316,0.401930,...,0.199110,0.755706,0.677789,0.991196,0.242301,0.143432,0.610457,0.723545,0.083407,0.997692
3,0.241840,0.358536,0.163215,0.221451,0.834614,0.642723,0.389129,0.767653,0.146999,0.755906,...,0.776681,0.494188,0.706627,0.646882,0.402310,0.841243,0.735526,0.524680,0.693281,0.173812
4,0.435006,0.747148,0.162095,0.669156,0.578411,0.364741,0.845923,0.446364,0.077518,0.815201,...,0.309188,0.080661,0.791349,0.668205,0.257340,0.619013,0.263495,0.929391,0.253834,0.371627

In [32]:
df2 = pd.DataFrame([np.random.random(100) for x in range(100)])
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.416445,0.934003,0.607336,0.272490,0.307515,0.219715,0.162560,0.474500,0.119315,0.355039,...,0.354984,0.854244,0.465844,0.967907,0.913421,0.067574,0.068479,0.550692,0.057094,0.850658
1,0.579267,0.626136,0.783058,0.367985,0.591596,0.715190,0.520096,0.673791,0.469295,0.838944,...,0.042080,0.574894,0.880837,0.383754,0.682319,0.038975,0.907823,0.419307,0.457261,0.448171
2,0.660664,0.494375,0.455688,0.041647,0.279943,0.838393,0.073603,0.439809,0.477788,0.019447,...,0.165881,0.584623,0.148652,0.005270,0.726084,0.347332,0.653616,0.905791,0.178879,0.763633
3,0.505493,0.071715,0.761747,0.352640,0.304871,0.524023,0.710882,0.449414,0.211324,0.006613,...,0.438257,0.089550,0.950775,0.224078,0.384245,0.837544,0.880392,0.923498,0.265912,0.620792
4,0.217417,0.645762,0.612121,0.442816,0.482331,0.972160,0.349098,0.145080,0.717053,0.814999,...,0.504376,0.379641,0.142320,0.504925,0.262304,0.746611,0.252650,0.181604,0.246732,0.632486

In [35]:
def test_columns(alpha=0.1):
    num_diff = 0
    for col in df1.columns:
        teststat, pval = ttest_ind(df1[col], df2[col])
        if pval <= alpha:
            print("Col {} is statistically significantly different at alpha = {}, pval = {}"
                  .format(col, alpha, pval))
            num_diff = num_diff + 1
    print("Total number of different was {}, which is {}%".format(
        num_diff, 
        float(num_diff) / 
        len(df1.columns) * 
        100))
    
test_columns()

Col 2 is statistically significantly different at alpha = 0.1, pval = 0.07012026053090054
Col 6 is statistically significantly different at alpha = 0.1, pval = 0.013410156167095837
Col 21 is statistically significantly different at alpha = 0.1, pval = 0.0011430160894755187
Col 39 is statistically significantly different at alpha = 0.1, pval = 0.010003022971653197
Col 43 is statistically significantly different at alpha = 0.1, pval = 0.07896471962990165
Col 89 is statistically significantly different at alpha = 0.1, pval = 0.08105121537055932
Total number of different was 6, which is 6.0%

In [37]:
test_columns(0.05)

Col 6 is statistically significantly different at alpha = 0.05, pval = 0.013410156167095837
Col 21 is statistically significantly different at alpha = 0.05, pval = 0.0011430160894755187
Col 39 is statistically significantly different at alpha = 0.05, pval = 0.010003022971653197
Total number of different was 3, which is 3.0%

In [38]:
# Other Data structure

In [2]:
import numpy as np

a = np.arange(8)
b = a[4:6]
b[:] = 40
c = a[4] + a[6]

c

46

In [7]:
import re
s = 'ABCAC'

bool(re.match('A', s)) == True

True

In [11]:
def result():
    s = 'ACAABAACAAABACDBADDDFSDDDFFSSSASDAFAAACBAAAFASD'

    result = []
    # compete the pattern below
    pattern = '[^A](?=A{3})'
    for item in re.finditer(pattern, s):
      # identify the group number below.
      result.append(item.group())
      
    return result

result()

['C', 'F', 'B']

In [27]:
import pandas as pd
df = pd.DataFrame([4, 7, -5, 3],['d', 'b', 'a', 'c'])
df

   0
d  4
b  7
a -5
c  3

In [28]:
df.iloc[0]

0    4
Name: d, dtype: int64

In [29]:
df.index[0]

'd'

In [30]:
df[0]

d    4
b    7
a   -5
c    3
Name: 0, dtype: int64

In [61]:
s1 = np.array({'Mango' : 20, 'Strawberry' : 15, 'Blueberry' : 18, 'Vanilla' : 31})

s2 = np.array({'Strawberry' : 20, 'Vanilla' : 30, 'Banana' : 15, 'Mango' : 20, 'Plain' : 20})

print(s1)
print('          ')
print(s2)

{'Mango': 20, 'Strawberry': 15, 'Blueberry': 18, 'Vanilla': 31}

{'Strawberry': 20, 'Vanilla': 30, 'Banana': 15, 'Mango': 20, 'Plain': 20}

In [64]:
S = pd.Series(np.arange(5), index=['a', 'b', 'c', 'd', 'e'])
S

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [65]:
S['b':'e']

b    1
c    2
d    3
e    4
dtype: int32

In [66]:
S[['b', 'c', 'd']]

b    1
c    2
d    3
dtype: int32

In [67]:
S[S <= 3][S > 0]

b    1
c    2
d    3
dtype: int32

In [68]:
S[1:4]

b    1
c    2
d    3
dtype: int32

In [82]:
df = pd.DataFrame({0 : ['R1', 'R2', 'R3', 'R4'], 
                   'a' : [5, 5, 71, 67], 
                   'b' : [6, 82, 31, 37], 
                   'c' : [20, 28, 92, 49]}).set_index(0)

df

     a   b   c
0
R1   5   6  20
R2   5  82  28
R3  71  31  92
R4  67  37  49

In [86]:
f = lambda x: x.max() + x.min()
df_new = df.apply(f)
df_new[1]

88

In [89]:
df.stack()

R1  a     5
    b     6
    c    20
R2  a     5
    b    82
    c    28
R3  a    71
    b    31
    c    92
R4  a    67
    b    37
    c    49
dtype: int64

In [103]:
df = pd.DataFrame({'Item' : ['item_1', 'item_1', 'item_1', 'item_2', 'item_2', 'item_2',], 
                   'Store' : ['A', 'B', 'C', 'A', 'B', 'C'], 
                   'Quantity sold' : [10.0, 20.0, 0, 5.0, 10.0, 15.0]})
df

     Item Store  Quantity sold
0  item_1     A           10.0
1  item_1     B           20.0
2  item_1     C            0.0
3  item_2     A            5.0
4  item_2     B           10.0
5  item_2     C           15.0

In [104]:
df.groupby('Item').sum().iloc[0]['Quantity sold']

30.0