In [1]:
import pandas as pd

source : https://en.wikipedia.org/wiki/Quezon_City

In [2]:
df = pd.DataFrame({'location_name' : ['Quezon City'], 
                  'population_in_thousands' : [int(2960048 / 1000)], 
                  'available_transportations' : ['jeepneys, city buses, taxis, UV Express, e-trikes'],
                  'description_of_location' : ['Quezon City is known for its culture, entertainment industry and media, and is aptly called the "City of Stars". Major broadcasting networks have their headquarters and studios in the city. It is also known for its commerce, education, research, technology, politics, tourism, art and sports. Several national government branches including the Batasang Pambansa Complex, the seat of House of Representatives of the Philippines, calls the city home.'],
                  'primary_language' : ['Filipino'],
                  'secondary_language' : ['English'],
                  'other_data_climate' : ['''According to the Köppen climate classification, Quezon City has a tropical monsoon climate (Am). The city has a dry season from December to April, in which in turn, divided into cool and warm dry seasons, and a prolonged wet season from May to November that brings heavy rains in some areas. The primary weather station of the city is located at the PAGASA Science Garden. It has been observed that extreme temperatures ranged from a record high of 38.5 °C (101.3 °F) to a record low of 14.9 °C (58.8 °F). The hot season was observed for 1.5 months, from April to May, with an average daily high temperature of 32.8 °C (91.0 °F). Meanwhile, the cool season lasts for 2.6 months, from November to February, with an average temperature of below 30.5 °C (86.9 °F).''']
                 })
df

,location_name,population_in_thousands,available_transportations,description_of_location,primary_language,secondary_language,other_data_climate
0,Quezon City,2960,"jeepneys, city buses, taxis, UV Express, e-trikes","Quezon City is known for its culture, entertai...",Filipino,English,According to the Köppen climate classification...

In [3]:
df.to_csv('Tourist_site2.csv', index = False)